@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins:wght@400;500;600;700&display=swap");
body {
    min-height: 500vh;
    max-width: 1440px;
    margin: 0 auto;
    background: #fdfbfa;
    color: #111112;
    font-size: 16px;
}

.border-tl-radius {
    --radius: 18px;
    border-top-left-radius: var(--radius);
}

.border-br-radius {
    --radius: 18px;
    border-bottom-right-radius: var(--radius);
}
